@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
  transition: 0.3s all;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  overflow-x: hidden;}
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  box-sizing: border-box; }

.container-small {
  max-width: 990px;
  padding: 0 15px;
  margin: 0 auto; }

.row {
  margin: 0 -15px; }
  @media (max-width: 1200px) {
    .row {
      margin: 0; } }
.general-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffffff;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #2D6BC7;
  cursor: pointer;
  transition: 0.3s all;
  border-radius: 70px;
  box-sizing: border-box;
  border: 1px solid transparent;
  text-decoration: none; }
  .general-button:hover {
    border: 1px solid #2D6BC7;
    color: #ffffff;
    background-color: #2D6BC7;
    box-shadow: 0 4px 2px -2px #2D6BC7; }

.title {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 43px;
  line-height: 49px;
  color: #ffffff;
  text-shadow: 0px 3px 4px rgba(75, 88, 202, 0.52);
  margin: 0; }
  @media (max-width: 768px) {
    .title {
      font-size: 32px; } }
.general_paragraph {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  text-shadow: 0px 3px 4px rgba(49, 62, 180, 0.46);
  margin: 0; }

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: transparent;
  padding: 0 0;
  z-index: 99;
  transition: 0.3s all;
  border-bottom: 1px solid rgba(6, 74, 130, 0.09); }
  .header.active {
    box-shadow: 0 4px 2px -2px #ffffff;
    background: linear-gradient(180deg, #71AADA 0%, #689ECC 26.96%, #6499D0 61.76%, #5C8ED7 85.47%); }
    .header.active .header_cont_nav_list_items {
      padding: 25px 0; }
      @media (max-width: 768px) {
        .header.active .header_cont_nav_list_items {
          padding: 0; } }
    .header.active .header_cont_nav_list_items_children {
      top: 70px; }
      @media (max-width: 768px) {
        .header.active .header_cont_nav_list_items_children {
          top: 0; } }
    @media (max-width: 768px) {
      .header.active .header_cont {
        padding: 15px 0; } }
    @media (max-width: 768px) {
      .header.active .header_cont_nav {
        top: 90px; } }
  .header_cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s all; }
    @media (max-width: 768px) {
      .header_cont {
        padding: 25px 0; } }
    .header_cont_logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      text-decoration: none; }
      .header_cont_logo img {
        margin-right: 10px; }
    .header_cont_nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      transition: 0.3s all;
      box-sizing: border-box; }
      .header_cont_nav.active {
        transition: 0.3s all; }
        @media (max-width: 768px) {
          .header_cont_nav.active {
            transform: translate(0, 0); } }
      @media (max-width: 768px) {
        .header_cont_nav {
          position: absolute;
          top: 110px;
          right: 0;
          min-width: 250px;
          background-color: #ffffff;
          border-radius: 6px;
          flex-direction: column;
          box-shadow: 0px 9px 12px rgba(118, 169, 213, 0.4);
          transform: translate(100%, 0); } }
      @media (max-width: 480px) {
        .header_cont_nav {
          width: 100%; } }
      .header_cont_nav_list {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0; }
        @media (max-width: 768px) {
          .header_cont_nav_list {
            flex-direction: column;
            width: 100%; } }
        .header_cont_nav_list_items {
          position: relative;
          text-decoration: none;
          list-style: none;
          padding: 45px 0;
          transition: 0.3s all;
          margin-right: 30px;
          transition: 0.3s all;
          cursor: pointer; }
          .header_cont_nav_list_items:before {
            content: ' ';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0%;
            height: 4px;
            transition: 0.3s all;
            z-index: 11; }
          .header_cont_nav_list_items.active:before, .header_cont_nav_list_items:hover:before {
            width: 100%;
            background-color: #ffffff; }
            @media (max-width: 768px) {
              .header_cont_nav_list_items.active:before, .header_cont_nav_list_items:hover:before {
                background-color: #064A82; } }
          @media (max-width: 768px) {
            .header_cont_nav_list_items {
              color: #373737;
              border-bottom: 1px solid rgba(34, 78, 116, 0.4);
              margin-right: 0;
              padding: 0;
              display: flex;
              flex-direction: column;
              justify-content: flex-start; } }
          .header_cont_nav_list_items:last-child {
            margin-right: 0; }
          .header_cont_nav_list_items_link {
            font-family: "Ubuntu", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 18px;
            letter-spacing: 0.02em;
            color: #ffffff;
            text-decoration: none;
            text-align: center;
            transition: 0.3s all;
            text-shadow: 0px 2px 4px rgba(81, 90, 169, 0.6); }
            @media (max-width: 768px) {
              .header_cont_nav_list_items_link {
                color: #373737;
                text-shadow: none;
                padding: 18px 30px;
                text-align: left; } }
          .header_cont_nav_list_items:hover > .header_cont_nav_list_items_children {
            display: flex; }
          @media (max-width: 768px) {
            .header_cont_nav_list_items.active .header_cont_nav_list_items_children {
              display: flex; } }
          .header_cont_nav_list_items_children {
            position: absolute;
            top: 108px;
            display: none;
            background-color: #ffffff;
            box-sizing: border-box;
            border: 1px solid #eaedf2;
            box-sizing: border-box;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            width: 255px;
            left: 0%;
            transform: translate(0%, 0%);
            flex-direction: column;
            transition: 0.3s all; }
            @media (max-width: 768px) {
              .header_cont_nav_list_items_children {
                display: none;
                position: relative;
                opacity: 1;
                transform: translate(0%, 0%);
                top: 0;
                left: 0;
                width: auto; } }
            .header_cont_nav_list_items_children_link_children {
              text-align: left;
              font-family: "Ubuntu", sans-serif;
              font-style: normal;
              font-weight: bold;
              font-size: 14px;
              line-height: 16px;
              color: #373737;
              cursor: pointer;
              transition: 0.3s all;
              text-decoration: none;
              margin-bottom: 0;
              padding: 18px 30px;
              border-bottom: 1px solid rgba(118, 169, 213, 0.4); }
              .header_cont_nav_list_items_children_link_children:hover, .header_cont_nav_list_items_children_link_children.active {
                color: #064A82;
                opacity: 1; }
              @media (max-width: 768px) {
                .header_cont_nav_list_items_children_link_children {
                  padding: 10px 30px 10px 35px;
                  border: none; } }
            .header_cont_nav_list_items_children_link_children:last-child {
              margin-bottom: 0;
              border-bottom: none; }
          .header_cont_nav_list_items:hover > .header_cont_nav_list_items_link {
            opacity: 1; }
    .header_cont .general-button {
      font-size: 16px;
      line-height: 150%;
      min-width: 185px;
      padding: 12px 15px;
      border: transparent; }
      @media (max-width: 768px) {
        .header_cont .general-button {
          margin-top: 10px; } }
      @media (max-width: 480px) {
        .header_cont .general-button {
          width: 100%; } }
.hamburger {
  padding: 15px 15px;
  display: none;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  @media (max-width: 768px) {
    .hamburger {
      display: block; } }
.hamburger:hover {
  opacity: 0.7; }

.hamburger.is-active:hover {
  opacity: 0.7; }

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #ffffff; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 3px;
  background-color: #ffffff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease; }

.hamburger-inner::before,
.hamburger-inner::after {
  content: '';
  display: block; }

.hamburger-inner::before {
  top: -10px; }

.hamburger-inner::after {
  bottom: -10px; }

.hamburger--slider .hamburger-inner {
  top: 2px; }

.hamburger--slider .hamburger-inner::before {
  top: 10px;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.15s; }

.hamburger--slider .hamburger-inner::after {
  top: 20px; }

.hamburger--slider.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(45deg);
  background-color: #064A82; }

.hamburger--slider.is-active .hamburger-inner::before {
  transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  opacity: 0;
  background-color: #064A82; }

.hamburger--slider.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(-90deg);
  background-color: #064A82; }

.hamburger--slider-r .hamburger-inner {
  top: 2px; }

.hamburger--slider-r .hamburger-inner::before {
  top: 10px;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.15s; }

.hamburger--slider-r .hamburger-inner::after {
  top: 20px; }

.hamburger--slider-r.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(-45deg); }

.hamburger--slider-r.is-active .hamburger-inner::before {
  transform: rotate(45deg) translate3d(5.71429px, -6px, 0);
  opacity: 0; }

.hamburger--slider-r.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(90deg); }

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  padding-top: 50px;
  overflow: hidden;
  z-index: 4; }
  .footer_cont {
    position: relative;
    z-index: 9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px; }
    @media (max-width: 768px) {
      .footer_cont {
        flex-direction: column; } }
    .footer_cont:before {
      content: ' ';
      position: absolute;
      left: -13px;
      top: -51px;
      width: 0;
      height: 26px;
      border-top: solid 42px #ffffff;
      border-left: solid 42px transparent;
      border-right: solid 42px transparent;
      z-index: 9; }
    .footer_cont_logo {
      margin-top: 20px;
      margin-right: 50px;
      min-width: 65px;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start; }
      @media (max-width: 768px) {
        .footer_cont_logo {
          min-width: auto;
          width: 65px; } }
      .footer_cont_logo img {
        width: 100%;
        max-width: 100%; }
    .footer_cont_nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      @media (max-width: 992px) {
        .footer_cont_nav {
          flex-wrap: wrap;
          flex-grow: 1; } }
    .footer_cont_nav_list {
      display: flex;
      flex-direction: column;
      margin: 20px 60px 0 0;
      width: 100%;
      min-width: 240px; }
      @media (max-width: 992px) {
        .footer_cont_nav_list {
          max-width: 50%;
          min-width: auto;
          margin: 20px 0 0 0; } }
      @media (max-width: 480px) {
        .footer_cont_nav_list {
          max-width: 100%; } }
      .footer_cont_nav_list a {
        font-family: "Ubuntu", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 152.4%;
        letter-spacing: 0.01em;
        color: #ffffff;
        text-decoration: none;
        cursor: pointer;
        margin-bottom: 15px; }
        .footer_cont_nav_list a span {
          text-decoration: underline; }
      .footer_cont_nav_list a:nth-child(1) {
        margin-bottom: 50px; }
      .footer_cont_nav_list:last-child {
        margin: 20px 0 0 0; }
        .footer_cont_nav_list:last-child a:nth-child(1) {
          margin-bottom: 20px; }
        .footer_cont_nav_list:last-child a {
          font-weight: normal; }
        .footer_cont_nav_list:last-child .footer_soz {
          display: flex;
          margin-top: auto; }

.footer_soz {
  display: flex;
  flex-direction: row; }
  .footer_soz_item {
    margin-right: 30px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s all; }
    .footer_soz_item img {
      transition: 0.3s all; }
    .footer_soz_item:hover > img {
      transform: scale(1.2); }

.footer_bottom {
  position: relative;
  z-index: 9;
  background: rgba(49, 57, 130, 0.5);
  padding: 15px 0;
  margin: 0; }
  .footer_bottom p {
    padding: 0;
    margin: 0;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #ffffff; }

.teaser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  min-height: 525px;
  padding: 8em 0;
  box-sizing: border-box; }
  .teaser_cont {
    position: relative;
    z-index: 9;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    @media (max-width: 992px) {
      .teaser_cont {
        flex-direction: column-reverse; } }
    .teaser_cont_left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center; }
      @media (max-width: 992px) {
        .teaser_cont_left {
          align-items: center;
          margin-top: 30px; } }
      .teaser_cont_left .title {
        margin: 0 0 20px; }
        @media (max-width: 992px) {
          .teaser_cont_left .title {
            text-align: center; } }
      @media (max-width: 992px) {
        .teaser_cont_left p {
          text-align: center; } }
      .teaser_cont_left .general_paragraph {
        margin: 0 0 40px; }
        .teaser_cont_left .general_paragraph.obv {
          width: 100%;
          max-width: 368px; }
    .teaser_cont_right {
      display: flex;
      align-items: center;
      justify-content: center; }
      .teaser_cont_right img {
        max-width: 100%; }
  .teaser_cont_center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; }
    .teaser_cont_center .title {
      text-align: center;
      margin: 0 auto 30px; }
    .teaser_cont_center .general_paragraph {
      text-align: center;
      margin: 0 auto 20px;
      width: 100%;
      max-width: 590px; }

.img-try {
  position: absolute;
  bottom: 0;
  left: 200px;
  transform: translate(0, 50%);
  z-index: 5; }

.general_img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
}
