<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [
  {
  "@type": "Question",
  "name": "Who is Kugadi?\n",
  "acceptedAnswer": {
  "@type": "Answer",
  "text": "Kugadi is a Miami, FL based company that produces a smartphone app based Guard Tour System. This can be used by any company that has security guards to greatly modernize their operations and streamline their business.\n"
  }
  },
  {
  "@type": "Question",
  "name": "What is a Guard Tour System?",
  "acceptedAnswer": {
  "@type": "Answer",
  "text": "A guard tour system is a system that uses a device, often known as a wand or a pipe, or smartphone app to track the activities of a security guard. It uses technology such as GPS, RFID tags or QR codes to track the physical location of the security guard to understand what they are doing throughout their tour or patrol.\n"
  }
  },
  {
  "@type": "Question",
  "name": "Why do you need a Guard Tour System?",
  "acceptedAnswer": {
  "@type": "Answer",
  "text": "Without a guard tour system, your security guard company needs to rely on manual reports. These are inherently inaccurate and take time from patrolling. In addition, there’s also the expense of sending supervisors to make sure the guards are doing their job. With a guard tour system, you get automated, accurate reports and save money.\n"
  }
  },
  {
  "@type": "Question",
  "name": "How does a Guard Tour System work?",
  "acceptedAnswer": {
  "@type": "Answer",
  "text": "A guard tour system keeps track of all the activities of a security guards using various technologies such as GPS, RFID checkpoints or QR codes. It provides a reporting mechanism so all the stakeholders can understand what the security guards are doing.\n"
  }
  },
  {
  "@type": "Question",
  "name": "What sort of Guard Tour System does Kugadi provide?\n",
  "acceptedAnswer": {
  "@type": "Answer",
  "text": "Kugadi provides a smartphone based guard tour system that uses RFID checkpoints to track guard activities. In addition, officers can make notes and take pictures as needed.\n"
  }
  },
  {
  "@type": "Question",
  "name": "What is the advantage of a Guard Tour App over a Guard Tour Device?",
  "acceptedAnswer": {
  "@type": "Answer",
  "text": "Smartphones have screens, cameras, and microphones. In addition, they have the ability to connect to the internet and have all the functionality of phones. A smartphone app based Guard Tour System can therefore have a great deal more functionality than a proprietary device. \n"
  }
  },
  {
  "@type": "Question",
  "name": "What is an RFID checkpoint?",
  "acceptedAnswer": {
  "@type": "Answer",
  "text": "Radio frequency identification (RFID) is a technology used to uniquely identify objects. In the security guard industry, it is used to create unique checkpoints that guards need to visit during their tours. These checkpoints are created by placing an RFID tag at the physical location, such as a door, that the guard needs to visit.\n"
  }
  },
  {
  "@type": "Question",
  "name": "What is the difference between NFC and RFID?\n",
  "acceptedAnswer": {
  "@type": "Answer",
  "text": "Near field communication (NFC) and radio frequency identification (RFID) are similar technologies in that they both allow contactless information exchange between devices or tags. NFC however only works at very short ranges of a few inches while RFID can work at much greater distances. NFC also allows for peer-to-peer exchange and writing operations.\n"
  }
  },
  {
  "@type": "Question",
  "name": "What are the advantages of a RFID tag over a QR code?",
  "acceptedAnswer": {
  "@type": "Answer",
  "text": "<ul><li>QR codes are easily copied in a photocopier or even just captured with a smartphone camera</li>\n<li>Ink for QR codes often fades when left in sunlight</li>\n<li>QR codes protected behind glass are often unreadable due to dirt, water or reflection</li>\n<li>RFID tags are difficult to copy as they have a factory built in ID</li>\n<li>RFID tags do not degrade over time</li>\n<li>RFID tags have many form factors and can be made very rugged</li>\n<li>RFID tags can be installed using glue, screws or other fastening devices</li></ul>\n"
  }
  },
  {
  "@type": "Question",
  "name": "Can you just use GPS to track security guards?",
  "acceptedAnswer": {
  "@type": "Answer",
  "text": "The global positioning system (GPS) is a satellite based technology that allows a GPS receiver to calculate its position. It can however be quite inaccurate when obstructed by trees, buildings or if the receiver is indoors. As a result, it is often used together with RFID or QR code checkpoints in guard tour systems to get greater accuracy. "
  }
  },
  {
  "@type": "Question",
  "name": "Does a smartphone GPS work indoors?",
  "acceptedAnswer": {
  "@type": "Answer",
  "text": "It really depends on the hardware but many smartphones do not have the capability of calculating an accurate GPS position while indoors. They will, however, often use other clues near your position such as well known WiFi networks to get an idea of your location."
  }
  },
  {
  "@type": "Question",
  "name": "What is a DAR?",
  "acceptedAnswer": {
  "@type": "Answer",
  "text": "DAR in the context of security guards refers to a Daily Activity Report. This typically documents everything that happened during a particular day at the guards’ posts.\n"
  }
  },
  {
  "@type": "Question",
  "name": "How is a DAR created?\n",
  "acceptedAnswer": {
  "@type": "Answer",
  "text": "A DAR or Daily Activity Report can either be manually written or generated automatically. Typically a security guard using a Guard Tour System will get the report automatically generated.\n"
  }
  },
  {
  "@type": "Question",
  "name": "Does Kugadi automatically send a DAR?\n",
  "acceptedAnswer": {
  "@type": "Answer",
  "text": "A security guard using the the Kugadi Guard Tour System does not have to worry about doing anything manually to generate a Daily Activity Report. The report is automatically generated and emailed out in PDF format to everyone who is registered to receive it.\n"
  }
  },
  {
  "@type": "Question",
  "name": "What is an Incident Report?",
  "acceptedAnswer": {
  "@type": "Answer",
  "text": "A security guard will create an incident report whenever something noteworthy happens on their tour.\n"
  }
  },
  {
  "@type": "Question",
  "name": "How can I be alerted to Incident Reports?",
  "acceptedAnswer": {
  "@type": "Answer",
  "text": "In the Kugadi guard tour system, you can ask to be notified by email or text message when an incident report is created. You can also be notified if the incident report is updated.\n"
  }
  },
  {
  "@type": "Question",
  "name": "What is a Maintenance Report?",
  "acceptedAnswer": {
  "@type": "Answer",
  "text": "If the officer notices a maintenance problem while working, a report can be created to alert the building maintenance of the issue, including taking pictures if needed to show the issue.\n"
  }
  },
  {
  "@type": "Question",
  "name": "How can I be alerted to Maintenance Reports?",
  "acceptedAnswer": {
  "@type": "Answer",
  "text": "These reports can alert the relevant parties by SMS or email when the issue has been logged into the system.\n"
  }
  },
  {
  "@type": "Question",
  "name": "Why is automated reporting important for Security Guard companies?\n",
  "acceptedAnswer": {
  "@type": "Answer",
  "text": "Automated reports are much more accurate than manual reports. If a security guard company does not put out accurate daily activity reports, they will lose customers and get a bad reputation. Simply implementing automated reports improves their business immeasurably.\n"
  }
  }
  ]
}
</script>