<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "@id": "https://www.kugadi.com/#organization",
  "url": "https://www.kugadi.com/",
  "name": "Kugadi",
  "legalName": "Kugadi Inc.",
  "address": [
    {
      "@type": "PostalAddress",
      "addressLocality": "Miami",
      "addressRegion": "FL",
      "addressCountry": "USA",
      "postalCode": "33130",
      "streetAddress": "120 SW 8th Steet, Suite 113"
    },
    {
      "@type": "PostalAddress",
      "addressLocality": "Fremont",
      "addressRegion": "CA",
      "addressCountry": "USA",
      "postalCode": "94539",
      "streetAddress": "39488 Stevenson Place, , Suite 100"
     }
  ],
  "contactPoint": {
    "@type": "ContactPoint",
    "contactType": "sales",
    "telephone": "+1-888-236-5031"
  },
  "sameAs": [
    "https://www.facebook.com/kugadi",
    "https://www.linkedin.com/company/kugadi",
    "https://twitter.com/kugadiinc",
    "https://www.crunchbase.com/organization/kugadi",
    "https://www.owler.com/company/kugadi"
  ],
  "logo": "https://www.kugadi.com/images/logo-300x300.jpg"
}
</script>
