<sections class="teaser">
  <div class="container">
    <div class="row">
      <div class="teaser_cont">
        <div class="teaser_cont_center">
            <h1 class="title">Welcome to the Kugadi Blog</h1>
            <p class="general_paragraph">Welcome to our place where we write about topics we think are relevant to the physical security industry. </p>

            <p class="general_paragraph">If you like, or dislike, what we have to say, please drop us a line as we're always looking to open dicussions. We hope you enjoy these articles.</p>
        </div>
      </div>
    </div>
  </div>
  <picture >
    <source srcset="{{ "img/webp/BG.webp" | absURL }}" type="image/webp">
    <source srcset="{{ "img/BG.jpg" | absURL }}" type="image/png">
    <img class="general_img" width="1440" heigh="523" src="{{ "img/BG.jpg" | absURL }}" alt="bg">
  </picture>
  <img class="img-try " src="{{ "svg/try.svg" | absURL }}" data-srcset="{{ "svg/try.svg" | absURL }}" alt="bg"/>
</sections>
