 
$background-white: #ffffff;
$background-white2: #eaedf2;
$background-black: #000000;
$background-black-2: #3A3A3A;
$background-black-3: #545454;
$background-black-4: #A9A9A9;
$background-blue: #13B8EC;
$background-blue-2: #4CD0FA;
$background-blue-2: #8CE3FF;
$background-blue-dark: #064A82;
$background-blue-dark-2: #1B7ECF;
$background-blue-dark-3: #63B8FF;
$background-blue-gradient: linear-gradient(180deg, #71AADA 0%, #689ECC 26.96%, #6499D0 61.76%, #5C8ED7 85.47%); 




$color-white: #ffffff;
$color-black: #000000;
$color-black2: #373737;
$color-black3: #545454;
$color-black4: #b09e9e;
$color-blue: #2D6BC7;
$color-blue2: #0F1F73;


$font-ubuntu: 'Ubuntu', sans-serif;
 

