<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World</title>
</head>
<body>
      
              <form class="my-form" name="desktop-demo-request-2" netlify-honeypot="bot-field" style="text-align: center;" method="POST" data-netlify="true" action="https://www.kugadi.com/thank-you-request-demo">
                <div class="my-form_white">
                  <p class="hidden">
                    <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
                  </p> 
                  <input type="text" name="name" placeholder="Name" class="kugadi-input" required/> 
                  <input type="email" name="email" placeholder="Email Address" class="kugadi-input" required/> 
                  <input type="text" name="company" placeholder="Company" class="kugadi-input" required/> 
                  <textarea name="message" rows="8" placeholder="Message" class="kugadi-input"></textarea> 
                </div>
                <div class="form_btn">
                  <button type="submit" class="green-button">REQUEST A DEMO</button>
                </div>
              </form> 
  
    
</body>
</html>

